# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=7682805220:AAHOMsfGVX7OxkI01Qu0OztfG8VKJqWLcfM

# Bot Settings
BOT_NAME=sochma_bot
BOT_USERNAME=sochmabot

# Environment
NODE_ENV=development
PORT=3000

# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/sochma_bot
MONGODB_DATABASE=sochma_bot

# Webhook Configuration
WEBHOOK_DOMAIN=sochma.uz
WEBHOOK_PATH=/webhook
WEBHOOK_PORT=3000
USE_WEBHOOK=true
